/*
  selector {property:value;}    */

  /* e11 CSS Drawing*/

.egg1 {
  width: 126px;
  height: 180px;
  background-color: mediumpurple;
  margin: 10px 0 10px 10px;
  position: relative;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform: rotate(-25deg);
}
.egg2 {
  width: 126px;
  height: 180px;
  background-color: yellow;
  /*margin: 10px 0 10px 10px; */
  position: absolute;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  top: 30px;
  left: 70px;
  transform: rotate(25deg);
}
.egg3 {
  width: 126px;
  height: 180px;
  background-color:hotpink;
  /*margin: 10px 0 10px 10px;*/
  position: absolute;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  top: 80px;
  left: 160px;
  transform: rotate(50deg);
  z-index: -5;
}
.absolute_dot1 {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: springgreen;
  top: 25px;
  left: 35px;
  border-radius: 50%
}
.absolute_dot1b {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: springgreen;
  top: 90px;
  left: 25px;
  border-radius: 50%
}
.absolute_dot2 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: springgreen;
  top: 70px;
  left: 70px;
  border-radius: 50%
}
.absolute_dot3 {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: springgreen;
  top: 130px;
  left: 50px;
  border-radius: 50%
}
